<p-card>
    <h4>
        <span>Filters</span>
        <p-button icon="pi pi-plus" severity="secondary" [style]="{'margin-left': '16px'}" (click)="addSubFilter()" />
    </h4>
    <form [formGroup]="searchForm" class="p-fluid grid formgrid" (ngSubmit)="search()">
        <ng-container formArrayName="subFilters">
            <ng-container *ngFor="let filterForm of subFilters.controls; let i = index">
                <p-panel [header]="(i + 1).toString()" class="field col-12 md:col-4">

                    <ng-template pTemplate="icons">
                        <p-button *ngIf="i === subFilters.controls.length - 1" class="p-panel-header-icon p-link" severity="secondary"  (click)="addSubFilter()">
                            <span class="pi pi-plus"></span>
                        </p-button>
                        <p-button class="p-panel-header-icon p-link" severity="secondary" [style]="{ 'margin-left': '8px'}" (click)="deleteSubFilter(i)">
                            <span class="pi pi-trash"></span>
                        </p-button>
                    </ng-template>

                    <div [formGroupName]="i" class="formgrid grid">
                        <div class="field col-12 md:col-12">
                            <label for="type">Filter Type</label>
                            <p>
                                <p-dropdown formControlName="type" id="type" [options]="filterTypes" optionLabel="name" optionValue="value"></p-dropdown>
                            </p>
                        </div>

                        @switch (filterForm.value.type) {
                            @case (FILTER_TYPE_COMMUNICATION_LOG_IS_ROOT) {
                            }

                            @case (FILTER_TYPE_HTTP_COMMUNICATION_FORM_PARAMETER_STARTS_WITH_VALUE) {
                                <div class="field col-12 md:col-4">
                                    <label for="parameter">Parameter</label>
                                    <p>
                                        <p-dropdown formControlName="parameter" id="parameter" [options]="parameterNames" optionLabel="name" optionValue="value"></p-dropdown>
                                    </p>
                                </div>
                                <div class="field col-12 md:col-8">
                                    <label for="value">Value</label>
                                    <p>
                                        <input formControlName="value" id="value" type="text" pInputText>
                                    </p>
                                </div>
                            }

                            @case (FILTER_TYPE_HTTP_COMMUNICATION_RESPONSE_WITH_STATUS_CODE) {
                                <div class="field col-12 md:col-12">
                                    <label for="value">Status Code</label>
                                    <p>
                                        <input formControlName="value" id="value" type="number" min="100" max="599" pInputText>
                                    </p>
                                </div>
                            }

                            @case (FILTER_TYPE_HTTP_COMMUNICATION_TO_API_ENDPOINT) {
                                <div class="field col-12 md:col-4">
                                    <label for="apiName">API Name</label>
                                    <p>
                                        <input formControlName="apiName" id="apiName" type="text" pInputText>
                                    </p>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label for="apiVersion">API Version</label>
                                    <p>
                                        <input formControlName="apiVersion" id="apiVersion" type="text" pInputText>
                                    </p>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label for="endpointName">Endpoint Name</label>
                                    <p>
                                        <input formControlName="endpointName" id="endpointName" type="text" pInputText>
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </p-panel>
            </ng-container>
        </ng-container>
    </form>

    <p-button (onClick)="search()" [disabled]="!searchForm.valid"><span class="pi pi-search" style="margin-right: 8px"></span> Search</p-button>
</p-card>