EWP_NODE_EXTERNAL_PORT=8443
EWP_NODE_EXTERNAL_DEBUG_PORT=5005

# Relative folder from the path from which the up_dev.sh script is executed on
EWP_NODE_RELATIVE_PLUGINS_PATH=plugins/

EWP_REGISTRY_PORT=8000

# A regex that matches the HEI ID covered by the EWP Node
EWP_REGISTRY_EWP_NODE_HEI_REGEX="^ulisboa\.pt$"