<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <span>EWP Node</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <ng-container *ngIf="adminAuthState$ | async as adminAuthState">
            <div class="p-link layout-topbar-text">
                <span>{{ adminAuthState.user.username }}</span>
            </div>
            <button class="p-link layout-topbar-button" (click)="logout()">
                <i class="pi pi-sign-out"></i>
                <span>Log Out</span>
            </button>
        </ng-container>
    </div>
</div>