<p-messages [(value)]="messages" [enableService]="false"></p-messages>

<p-toast position="top-center" key="tc"></p-toast>

<p-table #table
    [lazy]="lazyLoad"
    (onLazyLoad)="loadCommunicationsLogs($event)"
    dataKey="id"
    [loading]="loading"
    [rows]="10"
    [totalRecords]="totalResults"
    [paginator]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [value]="communicationLogs"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <div class="flex" *ngIf="allowFiltering">
            <span class="ml-auto">
                <form (submit)="onFreeTextSearch()">
                    <input pInputText type="text" name="freeTextSearchValue" [(ngModel)]="freeTextSearchValue" placeholder="Search keyword" />
                    <p-button [outlined]="true" icon="pi pi-search" (click)="onFreeTextSearch()" />
                </form>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th style="width: 1rem"></th>
            <th pResizableColumn>
                <div class="flex align-items-center">
                    ID
                    <p-columnFilter *ngIf="allowFiltering" field="id" type="numeric" display="menu" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                </div>
            </th>
            <th pResizableColumn>
                <div class="flex align-items-center">
                    Type
                    <p-columnFilter *ngIf="allowFiltering" field="type" [matchModeOptions]="typeMatchModeOptions" matchMode="COMMUNICATION-LOG-TYPE-IS-ONE-OF-SET" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [options]="typeOptions" [(ngModel)]="selectedTypes" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                <ng-template let-option pTemplate="item">
                                    <div class="inline-block vertical-align-middle">
                                        <span class="ml-1 mt-1">{{ option.name }}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pResizableColumn>
                <div class="flex align-items-center">
                    Source
                    <p-columnFilter *ngIf="allowFiltering" field="source" type="text" display="menu" [matchModeOptions]="sourceMatchModeOptions" matchMode="HTTP-COMMUNICATION-FROM-EWP-NODE-IS-FROM-HEI-ID" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                </div>
            </th>
            <th pResizableColumn>
                <div class="flex align-items-center">
                    Target
                    <p-columnFilter *ngIf="allowFiltering" field="target" type="text" display="menu" [matchModeOptions]="targetMatchModeOptions" matchMode="HTTP-COMMUNICATION-TO-EWP-NODE-IS-TO-HEI-ID" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                </div>
            </th>
            <th pResizableColumn>
                <div class="flex align-items-center">
                    Start Processing Time
                    <p-columnFilter *ngIf="allowFiltering" field="startProcessingDateTime" [matchModeOptions]="startProcessingDateTimeMatchModeOptions" matchMode="COMMUNICATION-LOG-START-PROCESSING-AFTER-OR-EQUAL-DATE-TIME" display="menu" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar [(ngModel)]="selectedAfterOrEqualStartProcessingDateTime" dateFormat="dd/mm/yy" [showTime]="true" [showSeconds]="true" (onSelect)="filter($event)"></p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pResizableColumn>
                <div class="flex align-items-center">
                    End Processing Time
                    <p-columnFilter *ngIf="allowFiltering" field="endProcessingDateTime" [matchModeOptions]="endProcessingDateTimeMatchModeOptions" matchMode="COMMUNICATION-LOG-END-PROCESSING-BEFORE-OR-EQUAL-DATE-TIME" display="menu" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar [(ngModel)]="selectedBeforeOrEqualEndProcessingDateTime" dateFormat="dd/mm/yy" [showTime]="true" [showSeconds]="true" (onSelect)="filter($event)"></p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th pResizableColumn>
                <div class="flex align-items-center">
                    Status
                    <p-columnFilter *ngIf="allowFiltering" field="status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [options]="statusOptions" [(ngModel)]="selectedStatuses" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                <ng-template let-option pTemplate="item">
                                    <div class="inline-block vertical-align-middle">
                                        <span class="ml-1 mt-1">{{ option.name }}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-communicationLog let-expanded="expanded">
        <tr>
            <td class="cell">
                <button type="button" pButton pRipple [pRowToggler]="communicationLog" 
                    class="p-button-text p-button-rounded p-button-plain" 
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
                <ng-container *ngIf="communicationLog.warningCodes.length > 0">
                    <i class="pi pi-exclamation-triangle"></i>
                </ng-container>
            </td>
            <td class="cell">{{ communicationLog.id }}</td>
            <td class="cell">{{ communicationLog.type }}</td>
            <td class="cell">{{ communicationLog.source }}</td>
            <td class="cell">{{ communicationLog.target }}</td>
            <td class="cell">{{ communicationLog.startProcessingDateTime | date:'medium' }}</td>
            <td class="cell">{{ communicationLog.endProcessingDateTime ? (communicationLog.endProcessingDateTime | date:'medium') : '' }}</td>
            <td class="cell" [ngClass]="{'cell-success': communicationLog.status === 'SUCCESS', 'cell-failure': communicationLog.status === 'FAILURE', 'cell-incomplete': communicationLog.status === 'INCOMPLETE'}">
                <b>{{ communicationLog.status }}</b>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-communicationLog>
        <tr>
            <td colspan="9">
                <div class="p-3">
                    <app-admin-dashboard-communication-log-detail 
                        [id]="communicationLog.id"
                        (communicationReportedToMonitoring)="onCommunicationReportedToMonitoring()"></app-admin-dashboard-communication-log-detail>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>