.cell {
    text-wrap: wrap !important;
}

.cell-success, .cell-accepted {
    background-color: #9ccc65;
}

.cell-failure {
    background-color: #ef5350;
}

.cell-incomplete {
    background-color: #ffa726;
}