<p-messages [(value)]="messages" [enableService]="false"></p-messages>

<ng-container *ngIf="ewpChangeNotification">
    <p-accordion [activeIndex]="0">
        <p-accordionTab header="Communications">
            <app-admin-dashboard-communications-logs-table
                *ngIf="ewpChangeNotification.sortedCommunicationLogs"
                [lazyLoad]="false"
                [allowFiltering]="false"
                [communicationLogs]="ewpChangeNotification.sortedCommunicationLogs"
            ></app-admin-dashboard-communications-logs-table>
        </p-accordionTab>
    </p-accordion>
</ng-container>