/* You can add global styles to this file, and also import other style files */

/* Primefaces Sakai NG template */
@use "assets/layout/layout.scss";

/* PrimeNG */
@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";

.layout-main-container {
    padding: 7rem 2rem 2rem 2rem;
}

.wrap-text {
    white-space: normal !important;
    word-break: break-word !important;
}

.p-button.p-button-secondary {
    background-color: rgb(241, 245, 249);
    color: #475569;
    border: 1px solid #f1f5f9;
}